---
http_interactions:
- request:
    method: post
    uri: https://pra.mdsol.com/RaveWebServices/webservice.aspx?PostODMClinicalData
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<ODM CreationDateTime=\"2019-08-31T15:56:36\"
        FileOID=\"b510b43f-1bac-4945-80b3-843852031b73\" FileType=\"Transactional\"
        ODMVersion=\"1.3\" Originator=\"PRA Integration Engine\" xmlns=\"http://www.cdisc.org/ns/odm/v1.3\"
        xmlns:mdsol=\"http://www.mdsol.com/ns/odm/metadata\">\n    <ClinicalData MetaDataVersionOID=\"1\"
        StudyOID=\"Clinical 6 Testing (DEV)\">\n        <SubjectData SubjectKey=\"9996\"
        TransactionType=\"Insert\">\n            <SiteRef LocationOID=\"666666\" />\n
        \           <StudyEventData StudyEventOID=\"SUBJECT\" TransactionType=\"Update\">\n
        \               <FormData FormOID=\"SUBJ\" TransactionType=\"Update\">\n                    <ItemGroupData
        ItemGroupOID=\"SUBJ\">\n                    \n                      <ItemData
        ItemOID=\"SITEID\" Value=\"666666\" />\n                    \n                      <ItemData
        ItemOID=\"SUBJID\" Value=\"9996\" />\n                    \n                    </ItemGroupData>\n
        \               </FormData>\n            </StudyEventData>\n        </SubjectData>\n
        \   </ClinicalData>\n</ODM>\n"
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic Q0xJTjZURVNUMjpaYXExMjM0NTYh
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<Response \n                                 ReferenceNumber=\"a61ec2e2-25d3-4310-b9c9-a128591f9a04\"\n
        \                                InboundODMFileOID=\"b510b43f-1bac-4945-80b3-843852031b73\"
        \n                                 IsTransactionSuccessful = \"1\"\n                                 SuccessStatistics=\"Rave
        objects touched: Subjects=1; Folders=0; Forms=0; Fields=2; LogLines=0\" \n
        \                                NewRecords=\"\" SubjectNumberInStudy=\"10\"
        SubjectNumberInStudySite=\"10\"></Response>"
  recorded_at: Sat, 31 Aug 2019 15:56:39 GMT
recorded_with: VCR 5.0.0
