---
http_interactions:
- request:
    method: post
    uri: https://esource.nextrials.com/esource-toolkit/rest/v1/custom/nextrials.prism/enroll
    body:
      encoding: UTF-8
      string: '{"ntiCode":"demo008","firstName":"Test1","lastName":"Subject2","orgId":"2890682056","dateOfBirth":"1987-02-02","gender":"0"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"subjectId":"3163605005"}'
  recorded_at: Wed, 28 Aug 2019 14:42:16 GMT
recorded_with: VCR 5.0.0
